<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.niccokunzmann.hanumanchalisa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.HanumanMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Maruta Nandan Namo Namah"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.MantraList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.ShreeRamDutayaNamah"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shree Ram Dutaya Namah"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.OmNamahShivayaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.HanumanChalisa"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.OmMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.ShreeKrishnaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.OmAnjaneyaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Anjaneya Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.ShreeRamMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Shree Ram Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.SaiBabaMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.OmHumHanumate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Om Hanumate Mantra"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.github.niccokunzmann.hanumanchalisa.ShaniMantra"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>